* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        height: 5rem;
        width: 100%;
        background-color: #C4C4C4;
        box-shadow: 0px 2px 5px grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        padding-left: 2em;
    }

    header nav {
        padding-right: 4em;
        width: 5%;
        display: flex;
        justify-content: flex-end;
    }

    header nav a {
        text-decoration: none;
        color: black;
        font-size: larger;
        padding: 10%;
    }

    section#info {
        margin-top: 5em;
        background-color: #F3F3F3;
        display: flex;
        height: 30em;
        justify-content: space-around;
        align-items: center;
    }

    section#info div {
        margin: 10em;
    }

    section#info div h2 {
        margin-bottom: 10%;
    }

    section#info img {
        margin: 10em;
        width: 20%;
        border-radius: 50%;
    }

    section#curiosidades {
        display: flex;
        justify-content: space-around;
    }

    section#curiosidades div:first-child h2 {
        text-align: end;
        margin: 40px;
    }

    section#curiosidades div:last-child h2 {
        text-align: left;
        margin: 40px;
    }

    section div ul, section div ol{
        display: flex;
        gap:30px;
        list-style-type: none;
    }

    section div ul li, section div ol li {
        width: 150px;
        height: 50px;
        background-color: #DFDFDF;
        border-radius: 10px;
        padding-top: 150px;
        text-align: center;
    }

    section#feedback > h2 {
        text-align: left;
        margin: 50px;
    }

    input[type="text"], textarea {
        background-color: #ECECEC;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3em;
        width: 120em;
        margin-left: 10em;
    }

    #container {
        display: flex;justify-content: flex-end; /* Alinha os itens ao final do container */
        align-items: center;
    }

    button[type="submit"] {
        font-size: medium;
        padding: 1.2em;
        background-color: #D9D9D9;
        border: none;
        border-radius: 10px;
        margin-right: 11em;
    }
    .feedbackIndividual {
        background-color: #D9D9D9;
        border-radius: 10px;
        margin-left: 10em;
        width: 100em;
    }
    .feedbackIndividual h2 {
        padding-top: 1rem;
        margin: 50px;
        margin-bottom: 1%;
    }
    .feedbackIndividual p {
        padding: 2em;
        padding-top: 0;
        padding-left: 50px;
    }
    #modelo {
        display: none;
    }
    footer {
        margin-top: 2%;
        background-color: #C4C4C4;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div img {
        width: 4%;
        margin: 1.2em;
    }

    footer a#contato {
        text-decoration: none;
        color: black;
        padding: 1em;
        background-color: #DFDFDF;
        border: none;
        border-radius: 10px;
    }
}

@media screen and (orientation: portrait) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10em;
        background-color: #C4C4C4;
    }
    header nav a {
        text-decoration: none;
        color: black;
        font-size: larger;
    }
    #info img {
        
        width: 50%;
        border-radius: 50%;
        margin-left: 7rem;
        margin-top: 3rem;
    }

    h2 {
        margin: 2rem;
        font-size: 2.5rem;
    }

    #info p {
        margin: 2rem;
        font-size: 1rem;
    }

    section div ul, section div ol{
        display: flex;
        gap:30px;
        list-style-type: none;
    }

    section div ul li, section div ol li {
        width: 150px;
        height: 50px;
        background-color: #DFDFDF;
        border-radius: 10px;
        padding-top: 100px;
        text-align: center;
    }

    footer {
        background-color: #C4C4C4;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div img {
        width: 10%;
        margin: 1.2em;
    }

    footer a#contato {
        text-decoration: none;
        color: black;
        padding: 0.5em;
        background-color: #DFDFDF;
        border: none;
        border-radius: 10px;
        margin: 1rem;
    }

    input[type="text"], textarea {
        background-color: #ECECEC;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3em;
        width: 24em;
        margin-left: 2em;
    }

    #container {
        display: flex;justify-content: flex-end; /* Alinha os itens ao final do container */
        align-items: center;
    }

    button[type="submit"] {
        font-size: medium;
        padding: 1.2em;
        background-color: #D9D9D9;
        border: none;
        border-radius: 10px;
        margin-right: 10em;
        margin-bottom: 3em;
    }
    .feedbackIndividual {
        background-color: #D9D9D9;
        border-radius: 10px;
        padding: 1em;
        width: 20em;
        margin-left: 2em;
        margin-bottom: 1em;
        overflow: auto;
    }
    .feedbackIndividual p {
        padding: 2em;
        padding-top: 0;
        
    }
    #modelo {
        display: none;
    }
}